.kpi-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
  }

.kpi-card {
    flex: 1;
    min-width: 200px;
    background: white;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  }

.kpi-card h5 {
    color: gray;
    font-weight: normal;
    margin: 0;
}

.kpi-card p {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0.5rem 0 0 0;
}

.charts {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
}

.chart-box {
    background: white;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    flex: 1;
    min-width: 300px;
}

canvas {
    max-width: 100%;
}

.month-date {
    color: gray; 
    user-select: none;
}

.fa-star {
    color:gold;
}