.password-container {
    position: relative;
}

.password-container input {
    padding-right: 40px; /* Add padding to the right for the icon */
}

.password-container i {
    position: absolute;
    right: 10px; /* Position the icon */
    top: 46%;
    /* transform: translateY(-50%); */
    color: #007bff; /* Icon color */
}

.password-container i:hover {
    color:#0056b3;
}