.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
  }

.custom-modal .modal-content {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
  
.custom-modal .modal-header {
    border-bottom: 2px solid #fff;
}
  
.medicine-card {
    padding: 15px;
    background: #f8f9fa;
    border-radius: 8px;
    border-left: 5px solid #007bff;
}
  
  .medicine-card p {
    margin: 5px 0;
    font-size: 16px;
  }
  
  .medicine-card h4 {
    margin-bottom: 10px;
  }
  
  .bi {
    margin-right: 5px;
    color: #007bff;
  }

/* Image Preview */

/* Transparent black background overlay */
#previewOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* transparent black */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Hide preview by default */
.hidden {
  display: none!important;
}

.previewContent {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Image in the overlay */
.previewContent img {
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.previewContent img:hover {
  transform: scale(1.02);
}

/* Cursor change to indicate interactivity */
.clickable-image {
  cursor: pointer;
}
