@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.text-light-green {
    color: #35e85e;
}

.text-teal {
    color: #20c997;
}

.cursor-pointer {
    cursor: pointer!important;
}

.cursor-default {
    cursor: default!important;
}